<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="shortcut icon" href="media/faviconabout.ico">
    </head>

    <body text="#FFFFFF  " link="#0000FF" bgcolor="#00000" background="fondo.jpg">
        <div>
        <div>
        <center><h1>ABOUT</h1></center>
        </br>
        </br>
        <center>
       <p>Fabian Esteban Gonzalez</p>
       <p>Estudiante Ingeniería de Sistemas</p>
       <p>Septimo Semestre</p>
       <p>Universidad Santo Tomás</p>
       <p>Twitter: @Estebangonzag</p>
        <img src="media/esteban.jpg" alt="imagen" width="170"/>
        </a>
        </br>
        </br>
        </br>
        </br>
        
        </center>
        
        <center>
        <input type="button" onclick= "location.href='main.html' "  value="Return" name="button"/>
        </center>
    </body>
</html>
