<!DOCTYPE html>

<html>
    <head>
        <title>Add an Client</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="shortcut icon" href="media/faviconc.png">
        
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
         <script>
            $(function() {
               $("#bornDate").datepicker({ dateFormat:'yy-mm-dd'});
               $("#hiredDate").datepicker({ dateFormat:'yy-mm-dd'});
            });
        </script>
       
    </head>
     <marquee style="border:#2E9AFE 2px SOLID">WELCOME TO THE CLIENT TAB</marquee>
    <body background="media/client.jpg">
    <body>
    <center>
        <h1>Add an Client</h1>
        <form id="frmAddProduct" name="frmAddProduct" action="../controller/ClientAddController.php" method="POST">
            <table>
                <tr>
                    <td><label for="idClient">Id</label></td>
                    <td><input id="idClient" name="idClient" type="text"></td>
                </tr>
                <tr>
                    <td><label for="nameClient">Name</label></td>
                    <td><input id="nameClient" name="nameClient" type="text"></td>
                </tr>
                <tr>
                    <td><label for="lastnameClient">Lastname</label></td>
                    <td><input id="lastnameClient" name="lastnameClient" type="text"></td>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><center><input type="submit"></center></td>
                </tr>
            </table>
             <input type="button" onclick= "location.href='main.html' "  value="Return" name="button"/>
             <br>
             <br>
             <br>
             <embed src="media/cliente.mp4" width="300" height="300"> 
        </form>
     </center>
    </body>
</html>
