<!DOCTYPE html>

<html>
    <head>
        <title>MAIN</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="media/favicon.ico">
    </head>
	<body background="media/cafe.jpg">
	<center>
<marquee WIDTH=100% BGCOLOR=##F6D8CE>
<font FACE=broadway COLOR=red SIZE=10>
WELCOME TO THE COMUNICATE CAFE
</font>
</marquee> 
</center>
	<br>
	<br>
	<center><br><hr><font FACE=ROCKWELL COLOR=#04B4AE SIZE=10>
CHOOSE THE OPTION
</font></center>
	<br>
	<br>
	<center>
          <table width="50%" height="50%"> 
              <tr>
              <td><img align="left" src="media/productmain.jpg" alt="product" usemap="#productmain">
          <map name="productmain">
              <area shape="circle" coords="96,90,200" href="ProductAdd.html" target="_blank" alt="Product"/> </td>
          <td></td>
           <td></td>
            <td></td>
             <td></td>
              <td></td>
               <td></td>
                <td></td>
                <td></td>
           <td></td>
            <td></td>
             <td></td>
              <td></td>
               <td></td>
                <td></td>
          <td><img align="left" src="media/providermain.jpg" alt="provider" usemap="#providermain">
          <map name="providermain">
              <area shape="circle" coords="91,70,200" href="ProviderAdd.html" target="_blank" alt="Provider"/> </td>
          <td></td>
           <td></td>
            <td></td>
             <td></td>
              <td></td>
               <td></td>
                <td></td>
                 <td></td>
           <td></td>
            <td></td>
             <td></td>
              <td></td>
               <td></td>
                <td></td>
                <td></td>
                
          <td><img align="left" src="media/salemain.jpg" alt="sale" usemap="#salemain">
          <map name="salemain">
           <area shape="circle" coords="79,92,200" href="SaleAdd.html" target="_blank" alt="Sale"/> </td>
           <td></td>
           <td></td>
            <td></td>
             <td></td>
              <td></td>
               <td></td>
                <td></td>
                <td></td>
           <td></td>
            <td></td>
             <td></td>
              <td></td>
               <td></td>
                <td></td>
	<td><img align="left" src="media/clientmain.jpg" alt="sale" usemap="#clientmain">
          <map name="clientmain">
           <area shape="circle" coords="90,83,200" href="ClientAdd.html" target="_blank" alt="Client"/> </td>
           <td></td>
           <td></td>
            <td></td>
             <td></td>
              <td></td>
               <td></td>
                <td></td>
                <td></td>
           <td></td>
            <td></td>
             <td></td>
              <td></td>
               <td></td>
                <td></td>
	<td><img align="left" src="media/sellermain.jpg" alt="sale" usemap="#sellermain">
          <map name="sellermain">
           <area shape="circle" coords="82,77,200" href="SellerAdd.html" target="_blank" alt="Seller"/> </td>
           </tr>
           <td></td>
           <td></td>
            <td></td>
             <td></td>
              <td></td>
               <td></td>
                <td></td>
                 <td></td>
           <td></td>
            <td></td>
             <td></td>
              <td></td>
               <td></td>
                <td></td>
                <td></td>
                <td><img align="left" src="media/factura1.png" alt="bill" usemap="#factura1">
          <map name="factura1">
              <area shape="circle" coords="59,43,200" href="BillAdd.html" target="_blank" alt="Provider"/> </td>
          <td></td>
           <td></td>
            <td></td>
             <td></td>
              <td></td>
               <td></td>
                <td></td>
                 <td></td>
           <td></td>
            <td></td>
             <td></td>
              <td></td>
               <td></td>
                <td></td>
                <td></td>
                
                <cente><td><img align="left" src="media/about.png" alt="about" usemap="#about">
          <map name="about">
          <area shape="circle" coords="48,48,200" href="about.html" target="_blank" alt="About"/> </td></center>
	</center>
        <object type="application/x-shockwave-flash" data="media/dewplayer-mini.swf" 
width="200" height="20" id="dewplayer" name="dewplayer">
<param name="movie" value="dewplayer.swf" />
<param name="flashvars" value="mp3=media/bang.mp3&autostart=0&autoreplay=1&
showtime=1&randomplay=1&nopointer=1&bgcolor=FFFF00" />
</object>
    </body>
</html>
